
/*
	DEFINICOES PARA A PAGINA HOME
	TODOS OS ELEMENTOS DEFINIDOS AQUI SAO USADOS SOMENTE NA
	PAGINA INICIAL DO SITE
*/

#slide-home
{
	margin: 0px auto 30px auto;
	border: none ;
	height: auto;
	width: 100%;
	background-color: #FFF;
	border: none;
}

#slide-home > .carousel-inner
{
	height: auto !important;
	width: 100% !important; 
}

#slide-home > .carousel-inner > .item > .slider-img
{
	margin: 0px auto !important;
	width: 100% !important;
	height: auto;
	border: none;
}

#slide-home > .carousel-control, #slide-home > .carousel-control:hover 
{
  opacity: 0 !important;
}