/*
	CONFIGURACOES GLOBAIS DO SITE --
	TODAS AS PAGINAS DO SITE CONTEM ELEMENTOS QUE TEM ESSAS CONFIGURACOES
	COR PRINCIPAL #3f4c6b
	COR SECUNDARIA #999
*/

.main-header
{
	padding: 0px;
	margin: 0px;
	border: none;
	height: auto;
	background-color: #7787A8;
	color: #FFF;
}

.main-header .sup-header
{
	width: 100%;
	border: none;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin: 0px;
	background-color: #5C6C82;
}

.main-header .sup-header ul
{
	width: 80%; /* old browser */
	width: calc(100% - 500px);
	width: -moz-calc(100% - 500px);
	width: -webkit-calc(100% - 500px);
	min-width: 1100px;
	list-style-type: none;
	list-style-image: none;
	display: inline-block;
  	vertical-align: top;
  	padding: 0px !important;
  	margin: 0px auto;
}

.main-header .sup-header ul li
{
	float: right;
	padding: 0px;
  	margin: 0px;
}

.main-header .sup-header ul li a
{
	padding-left: 15px;
	color: #FFF;
	font-size: 12px;
}
.content-header
{
	padding: 15px 0px 20px 0px;
	width: 80%; /* old browser */
	width: calc(100% - 500px);
	width: -moz-calc(100% - 500px);
	width: -webkit-calc(100% - 500px);
	min-width: 1100px;
	height: auto;
	margin: 0px auto;
}

.main-header .menu-cliente
{
	text-align: right;
	margin: 0px auto 0px auto;
}

.menu-cliente ul, .menu-cliente ul#menu-cliente-right
{
	list-style-image: none;
	list-style-type: none;
	overflow: auto;
	width: 370px;
	height: auto;
	margin: 0px auto;
	padding: 0px;
}

.menu-cliente ul#menu-cliente-right 
{
	width: 340px;
	margin-top: 0px; 
	margin-left: 0px;
	margin-right: -20px;
	float: right;
}
.menu-cliente li { float: left; }
.menu-cliente li:last-child { padding-left: 0px !important; }
.menu-cliente li:last-child a { border: none; }
#menu-cliente-right li a { font-size: 12px; }
#menu-cliente-right li a:hover,#menu-cliente li a:hover { text-decoration: underline; }

.menu-cliente li a
{
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	border-right: solid 1px #CCC;
	padding: 2px 10px;
	color: #FFF;
}

.main-header .main-logo img
{
	width: 250px;
	height: auto;
	margin-top: -15px;
}

.main-search div { margin-top: 0px; }

.sugestao-produtos
{
	width: 93% !important;
	border: none;
	position: absolute;
	z-index: 8;
	display: none;
}

.sugestao-produtos li
{
	width: 100%;
	float: inherit;
	padding: 10px !important;
}

.login-header
{	
	width: auto;
	height: 50px;
	margin-top: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-right: 50px;
	text-align: right;
	background-image: url("/includes/images/cadastro_header.png");
	background-position: right;
	background-size: auto 80%;
	background-repeat: no-repeat;
}

.login-header header
{
	height: auto;
	font-weight: bold;
	font-size: 18px;
}

.login-header p
{
	height: auto;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
}

.login-header p a { color: #FFF; }

.navbar
{
	border: solid 1px #3f4c6b !important;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	margin: 0px 0px 10px 0px !important;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	
}

.navbar a
{
	color: #FFF !important;
}

.navbar ul li ul a
{
	color: #606c88 !important;
}

.affix /* CONFIGURACAO DO MENUBAR QUANDO USUARIO ROLA A PAGINA E MENU FICA SEMPRE NO TOPO */
{
	margin: -125px 0px 0px 0px !important;
	width: 100% !important;
	z-index: 20;
}

.main-menubar 
{
	width: 100%;
	margin: 0px auto 0px auto;
}

.navbar .navbar-nav 
{
  display: inline-block;
  float: none;
  vertical-align: top;
  border: none;
}

.navbar .navbar-collapse { text-align: center; }
.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus 
{ 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100 */
	background: #606c88; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.produto-destaque .btn-primary { color: #FFF !important; }
.produto-destaque
{
	width: 265px;
	height: auto;
	float: right;
}

.list-group
{
	width: 525px;
	height: auto;
	border: solid 3px #5C6C82 !important;
	border-top: none !important;
	margin-top: 1px !important;
}

.list-group-item
{
	width: 250px;
	padding: 5px 3px !important;
	float:left;
	border-left: none !important;
	border-right: none !important;
}

.list-group li:nth-child(2) { border: none !important; }

.minha-cesta-menu
{
	padding-left: 30px;
	font-size: 16px;
	font-weight: bold;
	background-image: url("/includes/images/cart.png");
	background-repeat: no-repeat;
	background-position: 5px;
	background-size: auto 80%;
}

.minha-cesta-menu ul
{
	width: 450px;
	height: 400px;
	margin-left: -200px;
	border: solid 3px #5C6C82;
	border-top: solid 1px #5C6C82;
}

.minha-cesta-menu header
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border-bottom: dotted 1px #555;
	color: #3f4c6b;
}

.minha-cesta-menu article
{
	padding: 5px;
	height: 300px;
	width: 445px;
	overflow: auto;
}

.minha-cesta-menu footer
{
	border-top: dotted 1px #555;
	padding: 10px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: #3f4c6b;
}

.main-painel
{
	border: none;
	width: 80%; /* old browser */
	width: calc(100% - 500px);
	width: -moz-calc(100% - 500px);
	width: -webkit-calc(100% - 500px);
	min-width: 1100px;
	margin: 0px auto;
	padding: 0px;
	height: auto;
}

.main-footer
{
	width: 100%;
	padding: 0px;
	padding-bottom: 20px;
	margin: 15px 0px -15px 0px;
	height: auto;
	background-color: #3f4c6b;
	position: relative;
	bottom: 0;
}

.main-footer .row { padding: 0px !important;  margin: 0px !important; }

.search-footer
{
	padding: 15px;
	background-color: #313E54;
}

.search-footer .input-group { margin: 0px auto !important; }

.main-footer .aviso-footer
{
	color: #FFF;
	font-size: 12px;
	margin: 20px auto !important;
	border: none;
	text-align: center;
}

.main-footer .table-footer
{
	width: 80%; /* old browser */
	width: calc(100% - 500px);
	width: -moz-calc(100% - 500px);
	width: -webkit-calc(100% - 500px);
	min-width: 1100px;
	margin: 50px auto !important;
}

.main-footer .table-footer header
{
	font-size: 14px;
	font-weight: bold;
	color: #E6E6E6;
	border-bottom: dotted 1px #E6E6E6;
}

.main-footer .table-footer article, .main-footer .table-footer article ul, .main-footer .table-footer article li, .main-footer .table-footer article a
{
	font-size: 12px;
	padding: 3px;
	color: #FFF;
}

.main-footer .table-footer article ul 
{
	list-style-image: none;
	list-style-type: none;
}

/*
	DEFINIÇÕES PARA MENU LEFT
	BARRA DE LINKS AO LADO ESQUERDO DA PAGINA
*/

.menuLeft
{
	border: none;
	margin: 0px !important;
}

.menuLeft .panel-heading
{
	background-color: #7787A8 !important;
	color: #FFF !important;
	font-weight: bold;
}

.menuLeft .list-group
{
	border: none !important;
	width: 100% !important;
}

.menuLeft .list-group li
{
	width: 100% !important;
	border-top: solid 1px #CCC !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	float: inherit !important;
	padding: 10px 15px !important;
}

.menuLeft .list-group li:first-child
{
	border: none !important;
}

.affix > .menuLeft
{
	border: solid red 1px;
}

.painel-produtos
{
	/**/
}

.box-produtos
{
	margin: 0px !important;
	padding: 5px !important;
}

/*
	DEFINIÇÕES PARA GRID DE PRODUTOS
*/

.thumbnail
{
	border: solid 1px #999;
}

.thumbnail img
{
	height: auto;
	width: auto;
}

.thumbnail .codigo
{
	font-size: 10px;
	text-align: center;
	color: #999;
}

.thumbnail h3
{
	font-size: 14px;
	font-weight: bold;
	color: #777;
}

.thumbnail p /* Preço do produto */
{
	font-weight: bold;
	font-size: 14px;
	color: #3f4c6b;
}

.thumbnail p strike /* Preço De */
{
	font-size: 12px;
	color: #3f4c6b;
}

.thumbnail p:last-child /* Botões de comprar e detalhes */
{
	text-align: center;
}

/*
	DEFINICOES PARA BOTOES UTILIZADOS EM TODO O SITE
*/

/*
	DEFINICOES SOBRE PAGINACAO LINKS DE ANTE E PROX
*/

#navPages
{
	text-align: center;
}

#navPages ul li a
{
	color: #3f4c6b !important;
}

/*
	DEFINICOES PARA BARRA DE LOCALIZACAO DO SITE
*/

.breadcrumb
{
	background-color: #FFF !important;
	padding: 3px !important;
	margin: 0px 0px 5px 0px !important;
}

.breadcrumb li:first-child
{
	font-size: 12px;

}

.breadcrumb li:first-child, .breadcrumb li a
{
	color: #999;
	font-size: 12px;
}

/*	
	DEFINIÇÕES PARA A PÁGINA DE EXPOSIÇÃO DO PRODUTOS
*/

.expoProdu
{
	border: none !important;
}

.expoProdu h3, .expoProdu strong, .expoProdu legend
{
	color: #5C6C82;
	font-weight: bold;
}

.expoProdu .preco-produto h4
{ 
	font-size: 20px !important;
	font-weight: normal;
	color: #333;
}

.expoProdu span
{
	font-size: 14px;
}

.expoProdu legend { font-weight: normal; }

.expoProdu .panel-body .list-group
{	
	border: none !important;
	width: 100% !important;
}

.expoProdu .panel-body .list-group li { width: 100% !important; }

.painel-produtos .foto-produto
{
	text-align: center;
}

/*
	DEFINIÇÕES PARA VISUALIZAÇÃO DE IMAGENS E THUBNAIL PAGINA DE EXIBIÇÃO DE PRODUTOS
*/
#carousel-example-generic {
  display: inline-block !important;
  text-align: center !important;
}
.carousel-inner
{
	width: 100%;
	height: 250px;
	border: none;
	border-bottom: dotted 1px #E6E6E6;
}
ul.thumbnails-carousel 
{
	padding: 5px 0 0 0 !important;
	margin: 0 !important;
	list-style-type: none !important;
	text-align: center !important;
}

ul.thumbnails-carousel .center { display: inline-block !important; }
ul.thumbnails-carousel li 
{
	margin-right: 5px !important;
	float: left !important;
	cursor: pointer !important;
}
.controls-background-reset { background: none !important; }
.active-thumbnail { opacity: 0.4 !important; }
.indicators-fix { bottom: 70px !important; }
.thumbnails-carousel li img
{
	width: 60px;
	height: 60px;
}

/*
	DEFINIÇÕES DE TABELA COM ABAS
*/

.nav-tabs li a
{
	text-decoration: none !important;
	color: #5C6C82 !important;
}

.nav-tabs li.active a { font-weight: bold; }

.tab-content div
{
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	padding: 10px;
	font-size: 12px;
	color: #333;
}

/*
	DEFINIÇÕES PARA BARRA DE PRODUTOS PARECIDOS NO SITE
	USANDO O PLUGIN CAROUSEL
*/

.painel-produtos h2
{
	color: #666;
	font-size: 20px;
}

.produtos-parecido
{
	height: auto !important;
	width: 100%;
}

.produtos-parecido > div
{
	height: 400px !important;
	width: 90% !important;
	margin: 0px auto !important;
}

.produtos-parecido .carousel-control, .produtos-parecido .carousel-control:hover 
{
  opacity: 1 !important;
  color: #CCC !important;
  background-image: none !important;
  width: 5% !important;
}